@media screen and (width<=900px) {
  .wrapper {
    border: 1px solid red;
    width: 100%;
  }
  .left {
    border: 1px solid blue;
    display: flex;
  }
  .box1,
  .box2 {
    width: 50%;
    text-align: center;
    border: 1px solid rosybrown;
  }
  .right {
    border: 1px solid yellow;
    width: 100%;
  }
}

@media screen and (width>900px) {
  .wrapper {
    border: 1px solid red;
    display: flex;
  }
  .left {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .right {
    border: 1px solid yellow;
    width: 70%;
  }
}
